
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all .2s ease-in-out;
}

html {
    height: 100%;
}


#title{
    font-size: 22px;
    fill: rgb(221, 221, 221);
}

body {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

svg {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
}

.bar {
    background-color: #2B7A78;
    border-color: #2B7A78;
    fill: #2B7A78;
}

.dot:hover{
    fill: rgb(221, 221, 221)
}

g{
    color: rgb(221, 221, 221)
}


#legend{
    margin-top: 5px;
    color: rgb(56, 58, 74);
    font-size: 18px;
    text-align: center;
    width: 100%;
}
.left {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}
.right {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}
#tooltip{
    visibility: hidden;
    background-color: #2f3542;
    height: auto;
    width: auto;
    padding: 15px;
    margin-top: 5px;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 5px;
}
